{% extends "base.html" %}
{% block header %}<h1>{{titulo}}</h1>
{% endblock %}

{% block content %}
    {% if compse %}
        <div style="text-align: center"><img src="https://image.tmdb.org/t/p/w200/{{imagen}}"></div>
        <p>{{resumen}}</p>
        <p>Fecha de primera emisión: {{f}}</p>
        {%if pro%}
            <p>Estado: En emisión</p>
        {% else %}
            <p>Estado: Terminada</p>
        {% endif %}
        <p>Temporadas: {{temporadas}}</p>
        <p>Episodios: {{episodios}}</p>
        <p>Popularidad: {{popularidad}}</p>
        <section>
            <a href="/seriespopulares"><button>Ir a populares</button></a>
            <a href="/"><button>Página principal</button></a>
        </section>
    {% else %}
        <div style="text-align: center"><img src="https://image.tmdb.org/t/p/w300/{{imagen}}"></div>
        <p>{{resumen}}</p>
        <p>Fecha de estreno en EEUU: {{f}}</p>
        <p>Popularidad: {{popularidad}}</p>
        <section>
            <a href="/peliculaspopulares"><button>Ir a populares</button></a>
            <a href="/proxcine"><button>Ir a próximamente</button></a>
            <a href="/"><button>Página principal</button></a>
        </section>
    {% endif %}
{% endblock %}