{% extends "base.html" %}
{% block header %}<h1>Página principal</h1>
{% endblock %}

{% block content %}

    <h2>En esta web se pueden encontrar información de películas y series</h2>
    <p>
        <tbody>
            <tr><a href="/peliculaspopulares"><button>Películas populares</button></a></tr>
            <tr><a href="/seriespopulares"><button>Series populares</button></a></tr>
        </tbody>
        <form action="/lista" method="POST">
            <label for="message">Búsqueda</label>
            <input type="text" name="cadena" value="{{cadena}}"/>
            
            <select name="tipo">
                <option>Películas</option>
                <option>Series</option>
            </select>
            <input type="submit" value="Buscar"/>
        </form>    
    </p>

{% endblock %}
{% block footer %}
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Los derechos pertenecen a sus respectivos autores.</li><li>Plantilla: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>La información de esta web ha sido sacada de TMBD</li><li>Créditos: <a href="https://www.themoviedb.org/">The Movie Data Base</a></li>
        </ul>
    </footer>
{% endblock %}