{% extends "base.html" %}
{% block content %}
    <h2>Resultado de la búsqueda por {{cadena}}</h2>
    <p>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for i in listado -%}
                        <tr>
                            <td><a href="peliculas/{{i.id}}">{{i.nombre}}</a></td>
                        </tr>
                {% endfor -%}
            </tbody>
        </table>
    </p>
    <div class="col-md-3 col-md-offset-9 text-right">
        {% if anterior %}
            <a href="/lista"><button>Primera</button></a>
            <a href="/lista/{{anterior}}"><button>Anterior</button></a>
        {% endif %}   
        <a href="/lista/{{page}}"><button>Siguiente</button></a>
        <a href="/lista/{{total}}"><button>Última</button></a>
    </div>
    <section>
        <a href="/"><button>Página principal</button></a>
    </section>
{% endblock %}