{% extends "base.html" %}
{% block header %}<h1>Lista de películas más populares</h1>
{% endblock %}

{% block content %}

    <h2>La elección de los espectadores</h2>
    <p>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Resumen</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <p>
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{resumen}}</td>
                    </tr>
                </p>
            </tbody>
        </table>
    </p>
    <section>
        total={{total}}
        pagina={{pagina}}
    </section>
{% endblock %}