{% extends "base.html" %}
{% block header %}<h1>Lista de películas más populares</h1>
{% endblock %}

{% block content %}

    <h2>La elección de los espectadores</h2>
    <p>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for i in listado -%}
                        <tr>
                            <td>{{i.nombre}}</td>
                        </tr>
                {% endfor -%}
            </tbody>
        </table>
    </p>    
    <section>
        <a href="/peliculaspopulares/{{page}}">Siguiente</a>
    </section>
    <section>
        <a href="/">Volver</a>
    </section>
{% endblock %}